#accordion .panel-default .panel-heading a {
    color: #fff;
}

#accordion .panel-default .panel-heading {
    background-color: #5757f3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    margin: 0 0 3px;
}

#accordion1 .panel-default .panel-heading a {
    color: #fff;
}

#accordion1 .panel-default .panel-heading {
    background-color: #5757f3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    margin: 0 0 3px;
}

.ref_input input {
    margin-top: 10px;
}

.sector {
    font-size: 12px;
    color: #7A7B81;
    text-transform: uppercase;
}

.period {
    font-size: 12px;
    text-align: right;
    color: #7A7B81;
    margin-right: 5px;
    float: right;
}

.hf div {
    display: inline-block;
    margin-top: 20px;
}

.hf {
    margin-bottom: 10px;
}

.com-name {
    font-size: 22px;
    color: #FF7B7D;
    margin-bottom: 10px;
}

.exp-position {
    display: inline-block;
    padding: 5px 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 20px;
}

.box-container {
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 8%;
    width: 80%;
}

.box-container > span {
    font-size: 22px;
    color: #3D4564;
}

.box-container > span.lang {
    color: #FF7B7D;
    font-size: 20px;
}

.box-container > span.lang-class {
    font-size: 16px;
}

.box-container-title {
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-edit {
    height: 10%;
    width: 3.5rem;
}

.form-experience {
    display: none;
}

.display-flex {
    display: flex;
}

.btn-addNew-work {
    margin-bottom: 20px;
}

.btn-addNew-edu {
    margin-bottom: 20px;
}

.btn_place {
    margin-top: 20px;
}

.li-margin {
    margin-right: 8px;
    color: #687edf;
}

.list-style {
    display: flex;
    list-style-type: none;
}

.ui-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*.m-checkbox > input:checked ~ span.mdoublecheck:after {
top: 60%;
}
.m-checkbox > input:checked ~ span.msinglecheck:after {
  top: 33%;
}*/