.cookies-message {
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    display: none
}

@media (max-width: 450px) {
    .cookies-message {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.cookies-message a {
    font-weight: bold;
    color: #b20932
}

.cookies-message .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px auto 0
}

@media (max-width: 450px) {
    .cookies-message .container {
        margin-top: 0px
    }
}

@media (min-width: 768px) {
    .cookies-message .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .cookies-message .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .cookies-message .container {
        width: 1170px
    }
}

.cookies-message .btn {
    cursor: pointer;
    display: inline-block;
    background: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 12px;
    min-width: 150px;
    position: relative;
    border-radius: 6px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center
}

.cookies-message .btn:hover {
    text-decoration: none;
    color: #fff;
    background: #b20932
}

.cookies-message h3 {
    font-size: 30px;
    line-height: normal;
    margin: 0 0 20px;
    text-transform: none
}

@media (max-width: 450px) {
    .cookies-message h3 {
        margin-bottom: 5px
    }
}

.cookies-message p {
    font-size: 18px;
    line-height: 20px
}

@media (max-width: 450px) {
    .cookies-message p {
        margin-bottom: 10px
    }
}

.cookies-message nobr {
    text-transform: none
}