.m_sticky
{
    position: fixed;
    width: 255px;
}
#navigation_next{
    width: 100%;
    padding: 50px 63px;
}
#previous
{
    float: left;
    width: 50%;
}
#next
{
    float: right;
}
#navigation_next span
{
    font-size: 17px;
    font-family: inherit;
    font-weight: bolder;
}
.m-nav-fixed
{
    position: fixed;
    width:19%;
}
.header_text		
{
	border: solid .1rem #c2d1de;
    border-radius: 5px;
    margin: 11px;
    position: relative;
    display: block;
}
.m-portlet__head-title
{
	width: 100%;
}
.m-portlet h2
{
	    display: inline-block;
    color: #415a71;
    font-size: 20px;
    font-size: 2rem;
    padding-top: 3px;
}


.col-lg-6 {
    width: 50%;
}

@media (min-width: 768px)
.widget_controls {
    width: auto;
    float: right;
}
.task_block
{
    width: 30%;
    margin: 30px 12px;
    float: left;
}
.tasks_widget_header
{
    display: block;
    width: 100%;
    clear: both;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0 0 0;
    font-weight: bold;
}
.tasks_widget_content
{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-size: 4rem;
    color: #fff;
    padding-bottom: 30px;
}
#overdue_tasks {
    display: block;
    float: left;
    background: #f15854;
    width: 50%;
    border-right: 1px solid #fff;
}
#all_task
{
    display: block;
    float: left;
    background: #5da5da;
    width: 50%;
    border-right: 1px solid #fff;
}
#all_tasks .tasks_widget_header {
     display: block; 
     width: 100%; 
     clear: both; 
     color: #fff; 
     text-transform: uppercase; 
     text-align: center; 
     padding: 30px 0 0 0; 
     font-weight: bold; 
}
.widget_content
{
    padding: 20px;
}
#tasks_widget_info
{
    width: 100%;
    margin: 0 auto 20px auto;
    display: block;
    clear: both;
}
#tasks_widget_info a
{
    text-decoration: none;
}
.widget_controls {
    top: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.dropdown, .dropup {
    position: relative;
}
.btn.btn-grey {
    border-color: #c2d1de;
    color: #768da0;
    background: #f6f6f6;
}
@media (min-width: 768px)
.widget_controls a {
    width: auto;
}

.btn .caret {
    position: relative;
    right: -3px;
    top: -1px;
}
.btn .fa {
    font-size: 18px;
    font-size: 1.8rem;
    position: relative;
    left: -4px;
    top: 2px;
}

ul#dashboard_dropdown.dropdown-menu {
    right: 0;
}
.dropdown-menu {
    font-size: 12px;
}
.dropdown-menu {
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.widget
{
	width: 25%;
	float: left;
}
.m-subheader{
    border: solid .1rem #c2d1de;
    border-radius: 5px;
    margin: 20px;
    height: 50px;
    padding: 10px !important;
}
.sub_btn
{
    margin-left: 80%;
}
.m-page-title 
{
    height: 50px;
    font-weight: normal;
    color: #4f769d;
    font-size: 1.3em;
}
.view_block{
    background-color: #fff !important;
    height: auto;
    overflow: hidden;
    border: solid .1rem #c2d1de;
    margin: 11px;
    padding: 10px;
    border-radius: 5px;
}
.heading_details
{
    float: left;
    width: 47%;
}
.data_accounts
{
    float: left;
    width: 53%;
}
.view_data
{
    background-color: #f4f5f8;
    padding: 6px;
    font-family: inherit;
}
.view_data_row
{
    padding: 6px;
}
.m-datatable
{
    padding: 20px 0px;
}
.loader img
{
    height: 30px;
    width: 27px;
    margin-top: -29px;
    float: right;
}
.title_header
{
    float: left;
    width: 75%;
}
.add_button button
{
    width: 19%;
    text-align: center;
{
}
.opportunity_lines
    padding: 14px;
    border: 1px solid;
}
.opportunity_lines h4
{
    color: #34bfa3;
}

