﻿
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.quate {
    color: #777;
}

.impressum .quate {
    color: inherit;
}
/*Loader*/
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99999;
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

    .loaderContainer.load {
        -moz-animation: load 2s 0.8s linear infinite;
        -o-animation: load 2s 0.8s linear infinite;
        -webkit-animation: load 2s 0.8s linear infinite;
        animation: load 2s 0.8s linear infinite;
    }

        .loaderContainer.load .dot {
            opacity: 1;
        }

        .loaderContainer.load .crs {
            opacity: 1;
        }

            .loaderContainer.load .crs.topr {
                -moz-transform: translate(50%, -150%);
                -ms-transform: translate(50%, -150%);
                -o-transform: translate(50%, -150%);
                -webkit-transform: translate(50%, -150%);
                transform: translate(50%, -150%);
            }

            .loaderContainer.load .crs.topl {
                -moz-transform: translate(-150%, -150%);
                -ms-transform: translate(-150%, -150%);
                -o-transform: translate(-150%, -150%);
                -webkit-transform: translate(-150%, -150%);
                transform: translate(-150%, -150%);
            }

            .loaderContainer.load .crs.botr {
                -moz-transform: translate(50%, 50%);
                -ms-transform: translate(50%, 50%);
                -o-transform: translate(50%, 50%);
                -webkit-transform: translate(50%, 50%);
                transform: translate(50%, 50%);
            }

            .loaderContainer.load .crs.botl {
                -moz-transform: translate(-150%, 50%);
                -ms-transform: translate(-150%, 50%);
                -o-transform: translate(-150%, 50%);
                -webkit-transform: translate(-150%, 50%);
                transform: translate(-150%, 50%);
            }

    .loaderContainer .dot {
        height: 10px;
        width: 10px;
        background-color: #2f2f2f;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -moz-transition: opacity .2s ease .4s;
        -o-transition: opacity .2s ease .4s;
        -webkit-transition: opacity .2s ease .4s;
        transition: opacity .2s ease .4s;
        opacity: 0;
    }

    .loaderContainer .crs {
        opacity: 0;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-color: #2f2f2f;
        border-width: 10px 10px 0 0;
        position: absolute;
        -moz-transition: all 0.6s cubic-bezier(1, 0, 0.215, 1);
        -o-transition: all 0.6s cubic-bezier(1, 0, 0.215, 1);
        -webkit-transition: all 0.6s cubic-bezier(1, 0, 0.215, 1);
        transition: all 0.6s cubic-bezier(1, 0, 0.215, 1);
    }

        .loaderContainer .crs.topr {
            -moz-transform: translate(20vw, -20vh);
            -ms-transform: translate(20vw, -20vh);
            -o-transform: translate(20vw, -20vh);
            -webkit-transform: translate(20vw, -20vh);
            transform: translate(20vw, -20vh);
        }

        .loaderContainer .crs.topl {
            border-width: 10px 0 0 10px;
            -moz-transform: translate(-20vw, -20vh);
            -ms-transform: translate(-20vw, -20vh);
            -o-transform: translate(-20vw, -20vh);
            -webkit-transform: translate(-20vw, -20vh);
            transform: translate(-20vw, -20vh);
        }

        .loaderContainer .crs.botr {
            border-width: 0 10px 10px 0;
            -moz-transform: translate(20vw, 20vh);
            -ms-transform: translate(20vw, 20vh);
            -o-transform: translate(20vw, 20vh);
            -webkit-transform: translate(20vw, 20vh);
            transform: translate(20vw, 20vh);
        }

        .loaderContainer .crs.botl {
            border-width: 0 0 10px 10px;
            -moz-transform: translate(-20vw, 20vh);
            -ms-transform: translate(-20vw, 20vh);
            -o-transform: translate(-20vw, 20vh);
            -webkit-transform: translate(-20vw, 20vh);
            transform: translate(-20vw, 20vh);
        }

@-moz-keyframes load {
    12.5% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    25% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    37.5% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    62.5% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    75% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    87.5% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load {
    12.5% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    25% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    37.5% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    62.5% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    75% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    87.5% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    12.5% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    25% {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    37.5% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    62.5% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    75% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    87.5% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
}

section {
    padding: 75px 0;
}

h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    /* text-align: left; */
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #111311;
    letter-spacing: 2px;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: bold;
}

    h2 span:after {
        content: '';
        display: block;
        width: 1px;
        height: 80px;
        background-color: #E3E3E3;
        margin: 20px auto 0;
    }



h5 {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    margin: 0;
    color: #bd9f86;
    font-size: 14px;
}

h6 {
    color: #aaa;
}

p {
    margin: 30px 0 0 0;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 29px;
}

.text-center {
    text-align: center;
}

.container-fluid .col-xs-12 {
    padding: 0;
}

#contactUs .container-fluid .col-xs-12 {
    padding: 0;
}

a {
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

    a:hover, a:focus {
        text-decoration: none;
    }

.container .right-arrow {
    max-width: 30px;
    float: right;
    position: relative;
    right: 0;
    bottom: 30px;
    fill: #cbc9cd;
}

/*Header*/
#headerTop {
    background-color: #f9f9f9;
    /* text-align: center; */
}

    #headerTop .col-xs-3 {
        padding-top: 20px;
    }

    #headerTop p {
        padding: 10px;
        /* margin: 0; */
        display: inline-block;
        margin: 0 auto;
        text-align: left;
    }

    #headerTop .col-xs-4:last-child {
        font-family: 'Abel', sans-serif;
        padding-top: 15px;
    }

    #headerTop .col-xs-8 {
        text-align: right;
    }

        #headerTop .col-xs-8 a {
            padding-left: 15px;
            color: #222;
        }

.navbar-default .navbar-brand,
.navbar-default .navbar-brand h1 {
    color: #777;
    padding: 0;
    /* font-family: 'Abel', sans-serif; */
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

    .navbar-default .navbar-brand h2 {
        color: #777;
        padding: 0;
        /* font-family: 'Abel', sans-serif; */
        text-align: left;
        font-size: 14px;
        font-weight: normal;
    }

.navbar-collapse {
    border-top: 0;
}

.navbar-toggle {
    border: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0;
    outline: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /* right: 15px; */
}

    .navbar-toggle span {
        background: #ffffff;
        height: 2px;
        margin-left: -9px;
        width: 18px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: background 0s 0.3s;
        -moz-transition: background 0s 0.3s;
        -o-transition: background 0s 0.3s;
        transition: background 0s 0.3s;
    }

        .navbar-toggle span:before,
        .navbar-toggle span:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #FFF;
            content: "";
        }

        .navbar-toggle span:before {
            top: -6px;
        }

        .navbar-toggle span:after {
            bottom: -6px;
        }

        .navbar-toggle span::before,
        .navbar-toggle span::after {
            -webkit-transition-duration: 0.3s, 0.3s;
            -moz-transition-duration: 0.3s, 0.3s;
            -o-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
            -webkit-transition-delay: 0.3s, 0s;
            -moz-transition-delay: 0.3s, 0s;
            -o-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
        }

        .navbar-toggle span::before {
            -webkit-transition-property: top, -webkit-transform;
            -moz-transition-property: top, transform;
            -o-transition-property: top, transform;
            transition-property: top, transform;
        }

        .navbar-toggle span::after {
            -webkit-transition-property: bottom, -webkit-transform;
            -moz-transition-property: bottom, transform;
            -o-transition-property: bottom, transform;
            transition-property: bottom, transform;
        }

    .navbar-toggle.is-active span {
        background: none;
    }

        .navbar-toggle.is-active span::before {
            top: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .navbar-toggle.is-active span::after {
            bottom: 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .navbar-toggle.is-active span::before,
        .navbar-toggle.is-active span::after {
            -webkit-transition-delay: 0s, 0.3s;
            -moz-transition-delay: 0s, 0.3s;
            -o-transition-delay: 0s, 0.3s;
            transition-delay: 0s, 0.3s;
            position: fixed;
        }

    .navbar-toggle.dark span {
        background: #000;
    }

#menuHeader {
    padding: 15px 30px;
}

.navbar-default {
    border-radius: 0;
    background: #f5f5f5;
    margin-bottom: 0;
    border: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
}

    .navbar-default .text-center {
        background: #f9f9f9;
        padding: 15px;
        text-align: right;
    }

    .navbar-default .navbar-nav > li {
        padding: 0 10px;
    }

        .navbar-default .navbar-nav > li.active {
            background: none;
        }

        .navbar-default .navbar-nav > li > a {
            color: #2f2f2f;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;
            padding-left: .425rem;
            padding-right: .425rem;
            display: inline-block;
        }

        .navbar-default .navbar-nav > li a:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-top: -1px;
            height: 2px;
            background: #2f2f2f;
            width: 0;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

        .navbar-default .navbar-nav > li.active > a:before,
        .navbar-default .navbar-nav > li:hover > a:before {
            width: 100%;
            left: 0;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background: none;
    }



#banner {
    background: url(../images/background/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    position: relative;
}

    #banner .add-background {
        /* position: absolute; */
        /* width: 100%; */
        /* height: 100%; */
        /* top: 0; */
        /* left: 0; */
        background: rgba(0,0,0,0.6);
        padding: 300px 0 200px 0;
    }

    #banner p {
        color: #fff;
    }


h3 span {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #111111;
    letter-spacing: 2px;
    line-height: 1.25;
    font-weight: bold;
    padding-bottom: 20px;
    width: 100%;
    display: inline-block;
}

    h3 span:after {
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background-color: #2f2f2f;
        margin: 20px auto 0;
        position: absolute;
        float: left;
    }

#leistungen {
    padding-bottom: 0;
}

    #leistungen .container:before {
        display: block;
        position: relative;
        top: -75px;
        height: 1px;
        background: #f5f5f5;
        width: 100%;
    }

    #leistungen .container-fluid {
        padding-top: 75px;
    }

        #leistungen .container-fluid .col-sm-6 {
            text-align: center;
            position: relative;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }

            #leistungen .container-fluid .col-sm-6:nth-child(1) {
                background-color: #121212;
            }

            #leistungen .container-fluid .col-sm-6:nth-child(2) {
                background-color: #191919;
            }

            #leistungen .container-fluid .col-sm-6:hover {
                background: #333;
            }

#aboutMe .container-fluid .col-sm-6:hover .right-arrow {
    fill: #fff;
}

#leistungen .container-fluid h3 {
    margin: 0;
    color: #fff;
    font-size: 30px;
    padding: 37.5px 0 75px 0;
    font-family: 'Abel', sans-serif;
}

#leistungen .container-fluid h5 {
    padding: 75px 0 0 0;
}

#leistungen .container-fluid .right-arrow {
    width: 29px;
    height: 14px;
    position: absolute;
    bottom: 80px;
    right: 50px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    fill: #bd9f86;
}

.impressum h2 {
    text-align: left;
}

    .impressum h2 span:after {
        display: none;
    }

section.impressum {
    margin: 7.5px 0;
    padding-top: 120px;
}

.impressum h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #111311;
    letter-spacing: 2px;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    text-align: left;
}

.impressum h6 {
    margin: 0;
    position: relative;
    bottom: -25px;
}

#leistungen h4 {
    font-size: 21px;
    margin: 25px 0 15px 0;
}


#leistungen ul {
    padding-left: 15px;
    margin: 0;
    display: inline-block;
}

    #leistungen ul li {
        width: 33.33%;
        float: left;
    }

        #leistungen ul li span {
            font-size: 19px;
            font-family: 'Abel', sans-serif;
        }

#referenzen {
    background-image: url('../images/background/testmonials.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
}

    #referenzen span {
        color: #fff;
    }

    #referenzen h2,
    #referenzen p {
        color: #f5f5f5;
        margin: 20px 0;
    }

    #referenzen h1 {
        font-size: 20px;
    }

    #referenzen img {
        max-height: 150px;
        max-width: 150px;
        border-radius: 50%;
        margin: 40px auto;
    }

    #referenzen .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 0;
    }


#contactUs {
    background: url(../images/background/contact.jpg);
    padding: 0;
    margin-top: 160px;
}

    #contactUs .container-fluid {
        width: 100%;
        margin: 0 0;
    }

        #contactUs .container-fluid .map {
            padding: 0;
        }

    #contactUs #map {
        max-height: 100%;
        width: 100%;
        min-height: 954px;
    }

    #contactUs h4 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

    #contactUs p {
        color: #fff;
        margin: 15px 0;
    }

    #contactUs .contact-form {
        padding: 25px 50px !important;
        background-color: rgba(20, 27, 32, 0.8);
    }


    #contactUs form textarea, #contactUs form input {
        background: none;
        border: 0;
        border-bottom: 1px solid #5b6063;
        color: #606c75;
        float: left;
        font-size: 13px;
        font-weight: 300;
        height: 45px;
        margin-bottom: 15px;
        padding: 10px 0;
        width: 100%;
        outline: none;
    }

    #contactUs form textarea {
        height: 200px;
    }

#freelancer a,
button {
    background: #1f46b3;
    border: 0 none;
    color: #fff;
    font-size: 11px;
    padding: 15px 45px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 30px;
    margin: 15px 0 60px 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-width: 240px;
}

    #freelancer a:hover,
    button:hover {
        box-shadow: inset 240px 0 0 rgba(0, 0, 0, 0.7);
    }

#contactUs .find-us .col-xs-12 {
    margin: 10px 0;
}

#contactUs .find-us span {
    color: #aaa;
    float: left;
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 30px;
    font-size: 15px;
}

#contactUs .find-us i {
    float: left;
    width: 75%;
    letter-spacing: 0;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
}

.copyright {
    display: inline-block;
    padding-right: 20px;
    padding-top: 25px;
}

#headerTop .copyright p {
    /* font-family: "Montserrat"; */
    color: #2f2f2f2;
    display: inline-block;
    margin: 0;
    font-family: 'Abel', sans-serif;
    padding-top: 20px;
}

.copyright ul {
    list-style-type: none;
    display: inline-block;
}

    .copyright ul li {
        padding: 0 5px;
        display: inline-block;
    }

        .copyright ul li a span {
            font: normal normal normal 14px/1 FontAwesome;
            width: unset;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            color: #222;
        }

        .copyright ul li a:hover span {
            color: #1f46b3;
        }


footer p {
    text-align: center;
    background: #f5f5f5;
    padding: 20px;
}

#freelancer a {
    margin: 30px auto;
    display: inline-block;
}


/*media query*/
@media(max-width: 992px) {
    section {
        padding: 100px 0;
    }
}

@media(max-width: 768px) {
    #contactUs .contact-form {
        background-color: rgba(20, 27, 32, 0.9);
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    .text-center .container {
        max-width: 100%;
    }

    section {
        padding: 160px 0 70px 0;
    }

    #contactUs {
        margin-top: 200px;
    }

    #banner .add-background {
        padding: 230px 0 60px 0;
    }


    #Referenzen figure {
        margin: 7.5px 0;
    }

    #leistungen ul li {
        width: 100%;
    }

    .contact-info h4 {
        margin: 15px 0;
    }
}

#leistungen img {
    max-height: 250px;
    padding-top: 30px;
}

@media(max-width: 480px) {
    h3 span {
        font-size: 40px;
    }
}

@media(max-width: 767px) {
    .navbar-default .navbar-brand, .navbar-default .navbar-brand h1 {
        font-size: 17px;
        padding-top: 5px;
    }

        .navbar-default .navbar-brand h2 {
            font-size: 10px;
        }

    #aboutMe p {
        text-align: center;
    }

    #aboutMe img {
        margin: 20px auto 0 auto;
    }

    #contactUs #map {
        min-height: 300px;
    }

    #headerTop .col-xs-9,
    #headerTop .col-xs-3 {
        width: 100%;
        padding-top: 0;
    }

    section.impressum .container {
        padding-right: 45px;
    }
}


.sidebar {
    text-align: center;
    border: 1px solid #ececec;
    padding: 15px;
}

    .sidebar img {
        display: block;
        margin: 0 auto;
    }

    .sidebar h3 {
        margin: 0 0 25px 0;
        background: #333;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        font-size: 15px;
    }

.blog {
    margin-top: 180px;
}

    .blog .blog-post {
        display: inline-block;
        margin-bottom: 35px;
    }

        .blog .blog-post ul {
            list-style-type: none;
            padding-left: 0;
        }

        .blog .blog-post h2 {
            text-align: left;
            margin: 0;
            text-transform: none;
            margin-bottom: 15px;
        }

            .blog .blog-post h2 a {
                color: #000;
            }

        .blog .blog-post .continue {
            border: 1px solid #9f9f9f;
            color: #1a1a1a;
            float: left;
            font-family: lato;
            font-size: 10px;
            letter-spacing: 1px;
            margin-top: 35px;
            padding: 17px 35px;
            text-transform: uppercase;
        }
